{{outlet}}

<article>
  <section>
    <p>
      Ember Koens aims to teach you EmberJS through the use of tests.
    </p>
    <p>
      Click a link below to open the tests. Your goal is to make the tests pass by replacing the Blanks: "_" with the right anwer.
    </p>

  </section>

  <section>
    {{#each model as |link index| }}
      <div>
        {{index}}.
        <a href="http://localhost:4200/tests?nojshint&hidepassed&module={{link.module}}" target="_blank">{{link.name}}</a> Edit: {{link.file}}
      </div>
    {{/each}}
  </section>

</article>